<!DOCTYPE html>
<html lang="he">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>up-college</title>
    <meta property="og:image" content="img/up-logo.webp?h=8dfc11d7a064a0135a4ede4c92194ea1">
    <link rel="icon" type="image/webp" sizes="121x113" href="img/up-logo.webp?h=8dfc11d7a064a0135a4ede4c92194ea1">
    <link rel="icon" type="image/webp" sizes="121x113" href="img/up-logo.webp?h=8dfc11d7a064a0135a4ede4c92194ea1">
    <link rel="icon" type="image/webp" sizes="121x113" href="img/up-logo.webp?h=8dfc11d7a064a0135a4ede4c92194ea1">
    <link rel="icon" type="image/webp" sizes="121x113" href="img/up-logo.webp?h=8dfc11d7a064a0135a4ede4c92194ea1">
    <link rel="icon" type="image/webp" sizes="121x113" href="img/up-logo.webp?h=8dfc11d7a064a0135a4ede4c92194ea1">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css?h=bc6ed3cb2438e32589ddcb19c3e90829">
    <link rel="stylesheet" href="fonts/font-awesome.min.css?h=34f9b351b7076f97babcdac3c1081100">
    <link rel="stylesheet" href="css/Login-Form-Dark.css?h=22a5b6b68c2acfae859c766303353021">
    <link rel="stylesheet" href="css/Navigation-with-Search.css?h=229772c539e6c2c6adb8f01fe596a7ca">
    <link rel="stylesheet" href="css/Registration-Form-with-Photo.css?h=8f0abf81a027fb1eca0ffd61701a41d7">
    <link rel="stylesheet" href="css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e">
    <link rel="stylesheet" href="bootstrap/css/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="partials/css.css">
</head>

<body>
    <!-- Start: Registration Form with Photo -->
    <section class="register-photo">
        <!-- Start: Form Container -->

        <%- include partials/messages.ejs %>
        <div class="alerts"></div>

        <div class="form-container">

            <!-- Start: Image -->
            <div class="image-holder"
                style="background: url(&quot;img/rsz_gifts-n6s4qcg%20(1).jpeg?h=4ee32e391d0b335f3aa87b09ec7697fd&quot;) center;width: 50%;height: 56%;">
            </div><!-- End: Image -->
            <form method="post" style="padding: 39px 60px;">
                <!-- <h2 class="text-center"><strong>שם הארגון : עירייה נהריה</strong></h2> -->
                <h2 class="text-center" style="margin-bottom: 0px;"><strong>מספר רכישה : <%= Transaction.id %></strong>
                </h2>
                <div class="Courses">
                    <i onclick="MoveCourse('<%= Transaction.times %>', false)" class="fa fa-arrow-left fabtn"></i>
                    &nbsp
                    <p id="count"></p>
                    &nbsp
                    <i onclick="MoveCourse('<%= Transaction.times %>', true)" class="fa fa-arrow-right fabtn"></i>
                </div>


                <br>

                <% let isDisabled = "" %>
                <% if (typeof ExistingSpecification?.CourseInstructorName != 'undefined') isDisabled="disabled" %>

                <div class="mb-3" style="text-align: center;">

                    <input class="form-control <%=isDisabled%> " type="text"
                        style="margin: 0px;margin-bottom: 10px;text-align: right;" name="CourseInstructorName"
                        placeholder="שם מוביל הסדנה"
                        value="<%= typeof ExistingSpecification?.CourseInstructorName != 'undefined' ? ExistingSpecification?.CourseInstructorName : '' %>">

                    <input class="form-control <%=isDisabled%> " type="text"
                        style="margin: 0px;margin-bottom: 10px;text-align: right;" name="CourseInstructorPhone"
                        placeholder="טלפון מוביל סדנה"
                        value="<%= typeof ExistingSpecification?.CourseInstructorPhone != 'undefined' ? ExistingSpecification?.CourseInstructorPhone : '' %>">

                    <input class="form-control <%=isDisabled%> " type="email"
                        style="margin: 0px;margin-bottom: 10px;text-align: right;" name="CourseInstructorEmail"
                        placeholder="מייל מוביל סדנה"
                        value="<%= typeof ExistingSpecification?.CourseInstructorEmail != 'undefined' ? ExistingSpecification?.CourseInstructorEmail : '' %>">

                    <input class="form-control <%=isDisabled%> " placeholder="תאריך - יום ושעה לביצוע הסדנה"
                        style="text-align: right;margin-bottom: 10px;" name="ExpiredCourseTimeDate" readonly
                        value="<%= typeof ExistingSpecification?.ExpiredCourseTimeDate != 'undefined' ? ExistingSpecification?.ExpiredCourseTimeDate : '' %>">

                    <input class="form-control <%=isDisabled%> " placeholder="כתובת מדוייקת"
                        style="text-align: right;margin-bottom: 10px;" name="Address"
                        value="<%= typeof ExistingSpecification?.Address != 'undefined' ? ExistingSpecification?.Address : '' %>">
                </div>

                <a class="already" href="#" style="text-align: center;">לכתובת זו תשלח הערכה עם כל האבזרים הנדרשים עד
                    יומיים לפני הסדנה</a>

                <input class="form-control <%=isDisabled%> " type="number" placeholder="מספר משתתפים בסדנה"
                    style="text-align: right;margin-bottom: 10px;" name="NumberOfCourseParticipants"
                    value="<%= typeof ExistingSpecification?.NumberOfCourseParticipants != 'undefined' ? ExistingSpecification?.NumberOfCourseParticipants : '' %>">

                <div class="mb-3"></div>

                <textarea class="form-control <%=isDisabled%> " placeholder="הערות כלליות"
                    style="text-align: right;height: 56px;" name="GeneralNotes"
                    value="<%= typeof ExistingSpecification?.GeneralNotes != 'undefined' ? ExistingSpecification?.GeneralNotes : '' %>"></textarea>

                <input type="hidden" name="ProductID" value="">
                <input type="hidden" name="TransactionID" value="<%= Transaction.id %>">
                <input type="hidden" name="Number">

                <div class="mb-3">
                    <button class="btn btn-primary d-block w-100 <%= isDisabled %>" onclick="checks()">עדכון פרטים</button>
                </div>
                <a class="already" href="#">שימו לב לאחר עדכון הפרטים לא ניתן לשנות את פרטי ההזמנה לסדנה זאת אנא בדקו
                    לפני שליחה</a>
            </form>
        </div><!-- End: Form Container -->
    </section><!-- End: Registration Form with Photo -->

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="bootstrap/js/bootstrap-datetimepicker.js"></script>
    <script src="bootstrap/js/bootstrap-datetimepicker.he.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/orderDetails.js"></script>
    <script>

        checkreadonly("<%= typeof ExistingSpecification?.CourseInstructorName != 'undefined' %>")

        let countText = document.querySelector('#count')
        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());
        let CourseCounter = params["CourseCounter"] === undefined ? 1 : Number(params["CourseCounter"])
        let Courses = Number('<%= Transaction.times %>')

        console.log(CourseCounter, Courses)

        // if (params["CourseCounter"] === undefined) {
        //     let url = new URL(window.location.href)
        //     url.searchParams.set('CourseCounter', 1);
        //     window.location.replace(url)
        // }

        if (isNaN(Number(params["CourseCounter"]))) CourseCounter = 1

        if (CourseCounter > 0 && CourseCounter <= Courses) {
            countText.innerText = `${CourseCounter} / ${Courses}`
        }
    </script>
</body>

</html>